<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/static/css/styles.css">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Battery App</title>
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/battery">Batterie</a></li>
                <li><a href="/ai_prediction">AI Prediction</a></li>
            </ul>
        </nav>
    </header>
    <main id="content">
        <h2>Batterieladung: {{ battery_level }}%</h2>
        <h2>Spannung: {{ voltage }}V</h2>
    </main>
    <footer>
        <p>&copy; Jugend forscht 2024/2025</p>
    </footer>
</body>
</html>
